.back {
    background-image: url('orderspageimg.jpeg'); 
    background-size: cover;
} 

.form1 {
    text-align:left ; 
    font-family:impact ; 
    background-color: rgba(14, 58, 36, 0.637); 
    color: rgb(0, 8, 8); 
    font-size:250% ;
     position:relative ;
      left:650px; 
} 
.inputbox {
    width: 60 px;
    padding: 12px 20px;
  }

  .button{
    margin-left: 100px;
    margin-bottom: 50px;
    width: 100px;
    height: 75px;
    background-color: rgb(174, 193, 212);
    color: antiquewhite;
    font-size: large;
    border: none;

  }

 
.submit{
  color: white;
  font-style: normal;

}
